.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root {
  padding: 10px;
}
.card-body-stars {
  display: flex;
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  padding:0;
  border: 1px solid #cecece;
}
.card-body-stars li{
  list-style-type: none;
}
